@panel-background:#eaeaea;
@panel-font:#666666;
@color-nav:#40015f;


//Home
body {
    overflow-x: hidden; 
    max-width: 100%;
    min-height: 100vh;
    margin-top: 0px;
}

.content{
    margin-top: 0px;
}

// welcome padrão
.not-logged-in{
    display: none;
}
.panel, .wrapper{
        .switcher-options {
            color: @panel-font;
        }
    
    background-color: @panel-background;
};


// links do header
.header.panel {
    .header.links {
        .authorization-link:after{
            color: @panel-font;
            font-size: 14spx;
            font-family: 'Raleway-Regular';
        }
    }
}

// input do header
.block-search input{
    width: 261px;
    height: 32px;
    border: 1px solid #a6a6a6;

    &::placeholder{
        color: @panel-font;
        font-size: 15px;
        font-family: 'Raleway-Regular';
        font-weight: 300;
                
    }
}

.header.panel > .header.links > li > a{
    color: @panel-font;
    font-family: 'Raleway-Regular';
    font-size: 14px;
    transition: 0.2s;

    &:hover{
        color:#000000;
    }
}

// Alteração da lupa do input
.block-search{
    margin-right: 30px;
    bottom: 0px;
    .block-content{
        .action.search{
            right: -15px;
            top: 9px;

            &::before {
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                background-color: @panel-font;
                background: url('@{baseDir}images/search.png');
            }

        }
    }
}
// Alteração do Carrinho de compras
.minicart-wrapper{
    .action.showcart{
        display: inline-block;
        position: relative;
        top: 3px;   

            &::before {
                content: '';
                display: block;
                width: 19px;
                height: 25px;
                background-color: #000000;
                background: url('@{baseDir}images/bag.png');

        }
    }
}

//nav 
.navigation{
    background-color: @color-nav;
    
         ul{
            height: 50px;
            
        }

        span{
            height: 190px;
            color: #f3f3f3;
            font-family: 'Raleway-SemiBold';
            font-size: 20px;
            font-style: normal;
            letter-spacing: 0.8px;
            line-height: normal;
            text-align: center; 

            
        }  

}

 // Botão de Promoção
.nav-5 a span{
    font-family: 'Raleway-Regular';
    color: #fee95f;
    font-weight: 700;


}


.navigation .level0.parent > .level-top > .ui-menu-icon:after {
    content: '';
}

.ui-menu, .ui-widget, .ui-widget-content, .ui-corner-all{
    background-color: #40015f;

}
    
.navigation .level0 .submenu a:hover{
    background-color: #4B0082   ;
}
    




